.largeIcon{
font-size: 50px;
padding-left: 35px;
padding-right: 35px;

}
a:hover{
text-decoration: none;

}
.page-header{
margin-top: 0px;

}
.panel-body{
padding-top: 0px;

}
body{
margin-bottom: 80px;

}